DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ntr?schema=public"
API_PORT=3000
UPLOAD_ROOT="./uploads"
NTR_API_BASE_URL="http://127.0.0.1:3000"
WECHAT_APP_ID="wx633a36cd7c0e751f"
WECHAT_APP_SECRET=""
WECHAT_MINIPROGRAM_STATE="developer"
