POSTGRES_USER=ntr_admin
POSTGRES_PASSWORD=replace-with-random-hex
POSTGRES_DB=postgres
PROD_MIGRATION_PASSWORD=replace-with-random-hex
PROD_APP_PASSWORD=replace-with-random-hex
TEST_MIGRATION_PASSWORD=replace-with-random-hex
TEST_APP_PASSWORD=replace-with-random-hex
TZ=Asia/Shanghai
